@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.welcomeUser {
	position: relative;
	color: #82FF9E;
	font-size: 40px;
	text-align: center;
	transform: translate(0%, 0%);
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 600;
}

.followingInformation {
	position: relative;
	color: #e8871e;
	font-size: 24px;
	text-align: center;
	transform: translate(0%, 0%);
	font-family: 'Julius Sans One', sans-serif;
}

#createUserForm {
	position: relative;
	left: 50%;
	transform: translate(-50%, 20%);
	display: inline-block;
}

#inlineFormCustomSelect {
	width: 300px;
	cursor: pointer;
}

.hardinessZones {
	color: #e8871e;
	text-align: center;
	position:relative;
	top: 40px;
	font-family: 'Julius Sans One', sans-serif;
}

.clickHere {
	font-size: .7rem;
	/* text-align: center; */
	position: absolute;
	left: 50%;
	top: 330px;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 430px) {
	.clickHere {
		top: 355px;
	}
}

/* User submit button */
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.userSubmitBtn {
	line-height: 30px;
	height: 40px;
	text-align: center;
	width: 200px;
	cursor: pointer;
	background-color: rgb(34, 34, 34);
	padding: 0;
	border: none;
}

.userSubmitBtn3 {
	color: #82FF9E;
	transition: all 0.3s;
	position: relative;
	top: -4px;
}
.userSubmitBtn3 span {
	transition: all 0.3s;
}
.userSubmitBtn3::before {
	content: '';
	/* position: absolute; */
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #82FF9E;
	border-bottom-color:#82FF9E;
	transform: scale(0.1, 1);
}
.userSubmitBtn3:hover span {
	letter-spacing: 2px;
}
.userSubmitBtn3:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.userSubmitBtn3::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.userSubmitBtn3:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

@media screen and (max-width: 516px) {
    .userSubmitBtn {
		position: relative;
		left: 27%;
    }

    #inlineFormCustomSelect {
		position: relative;
		left: 15%;
    }
  }