@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

#grassImage {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    #grassImage {
        bottom: -50px;
    }
  }
  
#footerContainer {
    position: relative;
}

#footLinks{
    z-index: 1 !important;
    display: inline-block;
}

.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}
#inlineBlock {
    display: inline-block;
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

@media screen and (max-width: 430px) {
    #footerLogo {
        position: relative;
        left: 30%;
        top: -40px;
    }
  }