.form-group {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 60px;
    position: relative;
}

@keyframes shine {
    0% {
        background-position: 0px;
    }
    60% {
        background-position: 220px;
    }
    100% {
        background-position: 380px;
    }
}

.google{
    margin: 0;
    position: relative;
    top: 70px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
}

#welcomeBack {
    color: white;
    font-size: 48px;
}