.form-group {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.btn {
    margin: 0;
    position: relative;
    left: 50%;
    top: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;
}

.userLogin {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    
    /* Shine effect */
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 12px 48px;
    color: #E8871E;
    /* color: #ffffff; */
    background: linear-gradient(to right, #50C9CE 0, #82FF9E 10%, #50C9CE 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    /* font-size: 36px; */
    text-decoration: none;
    white-space: nowrap;
    
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 480px;
    }
    100% {
        background-position: 680px;
    }
}