.plant {
    padding: 5px;
}
.plant-card{
    background-color: #E8871E;
    min-width: 200px;
}
.plant-button{
    background-color: #E8871E;
    border-color: #e2dadb;
    color: #e2dadb ;
}

.hardinessZonePlants {
    margin: 20px;
    text-align: center;
    color: #82FF9E;
    font-family: 'Julius Sans One', sans-serif;
}