#birdBackground {
    width: 100%; 
    height: 93vh;
    margin-bottom: -250px;
  }

  body {
    background: #fff;
    /* padding: 20px; */
  }
  .vanta { 
    min-height: 300px;
    color: white;
    padding: 20px;
    font-size: 24px;
  }

  .imgLogo {
    margin: 0;
    position: relative;
    left: 50%;
    top: 320px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 250px;

  }

  .container {
    position: absolute;
    top: 220px;
    /* background-color: rgba(8, 28, 54, 0.671); */
  }

  .card-body {
    text-align: center;
  }

  .card {
    background-color: rgba(8, 28, 54, 0.3);
    color: white;
    border: 0px;
  }
  .lineSpacing {
    padding: 15px;
  }

  @media screen and (max-width: 990px) {
    #nt-example3 {
      font-size: 12px !important;
      
    }

  }

  @media screen and (min-width: 991px) {
    #nt-example3 {
      font-size: 18px !important;
      
    }

  }

  @media screen and (max-width: 400px) {
    #nt-example3 {
      font-size: 10px !important;
      
    }

  }